{% extends 'base.html' %}
{% from 'somisana_catalog.j2' import render_products %}

{% block web_title %}
    SOMISANA - Catalog
{% endblock %}

{% block main %}
    <main class="flex-grow-1 m-3">
        <div class="container-xl m-auto" style="max-width: 70vw">
            <div class="row mb-5">
                <div class="bg-white-op rounded p-4">
                    {{ render_products(products, thumbnail_base_url) }}
                </div>
            </div>
        </div>
    </main>
{% endblock %}

