{% extends 'base.html' %}
{% from 'somisana_catalog.j2' import render_product %}

{% block web_title %}
    SOMISANA - Product
{% endblock %}

{% block main %}
    <main class="flex-grow-1 m-3">
        <div class="container-xl m-auto" style="max-width: 90vw">
            <div class="row mb-5">
                <div class="bg-white-op rounded p-4">
                    {% if superseded_by_product %}
                        <div class="alert alert-dismissible alert-warning">
                          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                          <h4 class="alert-heading">Note!</h4>
                          <p class="mb-0">This project is superseded by <a href="{{ url_for('.index', id=superseded_by_product.id) }}" class="alert-link">{{ superseded_by_product.title }}</a>.</p>
                        </div>
                    {% endif %}
                    {{ render_product(product, local_resource_base_url, visualisations_base_url) }}
                    {% if superseded_product %}
                        <h6>Supersedes:</h6>
                        <a href="{{ url_for('.index', id=superseded_product.id) }}">{{ superseded_product.title }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    {{ super() }}

    {% set N, E, S, W = product.north_bound, product.east_bound, product.south_bound, product.west_bound %}
    {% if N is not none and E is not none and S is not none and W is not none %}
        <script>
            createExtentMap({{ N }}, {{ E }}, {{ S }}, {{ W }});
        </script>
    {% endif %}
{% endblock %}
