{% from 'forms.j2' import render_form %}

{% macro nav_bar_items(
    current_user
) %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor04"
            aria-controls="navbarColor04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor04">
        <ul class="navbar-nav" style="margin-left: auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home.index') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('product.index') }}">Product</a>
            </li>
            {{ login_nav_item( current_user ) }}
        </ul>
    </div>
{% endmacro %}

{% macro login_nav_item(
    current_user
) %}
    {% if current_user %}
        {% if current_user.is_authenticated %}
            <li class="nav-item border-light" style="border-left: 1px solid"><a href="{{ url_for('hydra.logout') }}" class="nav-link">
                Log out {{ current_user.email }}
            </a></li>
        {% else %}
            <li class="nav-item border-light" style="border-left: 1px solid"><a href="{{ url_for('hydra.login') }}" class="nav-link">
                Log in
            </a></li>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro data_table(
    json_data,
    key_map,
    url_key='id',
    url_param='id',
    url='.index'
) %}
    <table class="table">
        <thead>
        <tr>
            {% for key, label in key_map.items() %}
                <th>{{ label }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% if not json_data|length > 0 %}
            <tr>
                <td class="text-center" colspan="{{ key_map.items()|length }}">
                    No results found
                </td>
            </tr>
        {% else %}
            {% for item in json_data %}
                <tr>
                    {% for key in key_map.keys() %}
                        {% if key == url_key %}
                            <td>
                                <a href="{{ url_for(url, **{url_param: item[key]}) }}">{{ item[key] }}</a>
                            </td>
                        {% else %}
                            <td>{{ item[key] | truncate(60) }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endmacro %}

{% macro render_button(
    btn_label,
    endpoint,
    params,
    btn_class,
    disabled=False,
    prompt=""
)%}
    <form action="{{ url_for(endpoint, **params) }}" method="post">
        <button type="submit" class="{{ btn_class }}" {{ 'disabled' if disabled }}
                onclick="return confirm('{{ prompt % prompt_args }}')">
            {{ btn_label }}
        </button>
    </form>
{% endmacro %}