{% macro nav_bar_items(
    current_user
) %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor04"
            aria-controls="navbarColor04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor04">
        <ul class="navbar-nav" style="margin-left: auto">
            <li class="nav-item">
                <a class="nav-link" href="https://somisana.ac.za/" target="_blank">SOMISANA</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('catalog.index') }}">Home</a>
            </li>
        </ul>
    </div>
{% endmacro %}

{% macro login_nav_item(
    current_user
) %}
    {% if current_user %}
        {% if current_user.is_authenticated %}
            <li class="nav-item border-light" style="border-left: 1px solid"><a href="{{ url_for('hydra.logout') }}"
                                                                                class="nav-link">
                Log out {{ current_user.email }}
            </a></li>
        {% else %}
            <li class="nav-item border-light" style="border-left: 1px solid"><a href="{{ url_for('hydra.login') }}"
                                                                                class="nav-link">
                Log in
            </a></li>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro render_products(
    products,
    thumbnail_base_url
) %}
    <div class="d-flex justify-content-around flex-wrap">
        {% for product in products %}
            {{ render_catalog_product(product, thumbnail_base_url) }}
        {% endfor %}
    </div>
{% endmacro %}

{% macro render_catalog_product(
    product,
    thumbnail_base_url
) %}
    <div class="w-25 p-3">
        {% if product.thumbnail %}
            {% set thumbnail_src = thumbnail_base_url ~ '/' ~ product.thumbnail.reference if product.thumbnail.reference_type == 'path' else product.thumbnail.reference %}
            <a href="{{ url_for('product.index', id=product.id) }}">
                <img class="img-thumbnail" src="{{ thumbnail_src }}"
                     style="height: 80%; object-fit: cover"/>
            </a>
        {% endif %}
        <div class="mt-2">
            <a href="{{ url_for('product.index', id=product.id) }}"><h4>{{ product.title }}</h4></a>
            <p>{{ product.description | truncate(100) }}</p>
        </div>
    </div>
{% endmacro %}

{% macro render_product(
    product,
    local_resource_base_url,
    visualisations_base_url
) %}
    <div class="d-flex flex-row">
        <div class="px-3" style="width: 23%">
            {{ render_product_additional_info(product) }}
        </div>
        <div class="px-3" style="width: 45%">
            <h3 style="font-weight: 500">{{ product.title }}</h3>
            <hr>
            <p>{{ product.description }}</p>

            <div id="map" class="my-5"></div>
        </div>
        <div class="px-3" style="width: 32%">
            {{ render_product_datasets(product.datasets, local_resource_base_url, visualisations_base_url) }}
        </div>
    </div>
{% endmacro %}

{% macro render_product_additional_info(
    product
) %}
    {% set documents = product.resources | selectattr('resource_type', 'equalto', 'document') | list %}

    {% set any_details =
            ( product.horizontal_resolution or
            product.vertical_extent or
            product.vertical_resolution or
            product.temporal_extent or
            product.temporal_resolution or
            product.variables ) %}

    {% if any_details or documents or product.doi %}
        <div class="card mb-3" style="width: 100%;">
            <div class="card-header">
                <h5>Info</h5>
            </div>
            <ul class="list-group list-group-flush">
                {% set documents = product.resources | selectattr('resource_type', 'equalto', 'document') | list %}
                {% if documents %}
                    <li class="list-group-item">
                        <h5>Resources</h5>
                        {% for document in documents %}
                            📄 <a href="{{ document.reference }}">{{ document.title }}</a><br>
                        {% endfor %}
                    </li>
                {% endif %}
                {% if any_details %}
                    <li class="list-group-item">
                        <h5>Details</h5>
                        {% if product.horizontal_resolution %}
                            <strong>Horizontal Resolution: </strong>
                            {{ product.horizontal_resolution }}<br>
                        {% endif %}
                        {% if product.vertical_extent %}
                            <strong>Vertical Extent: </strong>
                            {{ product.vertical_extent }}<br>
                        {% endif %}
                        {% if product.vertical_resolution %}
                            <strong>Vertical Resolution: </strong>
                            {{ product.vertical_resolution }}<br>
                        {% endif %}
                        {% if product.temporal_extent %}
                            <strong>Temporal Extent: </strong>
                            {{ product.temporal_extent }}<br>
                        {% endif %}
                        {% if product.temporal_resolution %}
                            <strong>Temporal Resolution: </strong>
                            {{ product.temporal_resolution }}<br>
                        {% endif %}
                        {% if product.variables %}
                            <strong>Variables: </strong>
                            {{ product.variables }}
                        {% endif %}
                    </li>
                {% endif %}
                {% if product.doi %}
                    <li class="list-group-item">
                        <h5>DOI</h5>
                        <a href="https://doi.org/{{ product.doi }}" target="_blank">{{ product.doi }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endmacro %}

{% macro render_product_datasets(
    datasets,
    local_resource_base_url,
    visualisations_base_url
) %}
    <div class="accordion" id="accordionDatasets">
        {% for dataset in datasets %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading_{{ dataset.id }}">
                    <button class="accordion-button {% if not loop.first %}collapsed{% endif %}" type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#dataset_{{ dataset.id }}"
                            aria-expanded="{{ 'true' if loop.first else 'false' }}"
                            aria-controls="dataset_{{ dataset.id }}">
                        {{ dataset.title }}
                    </button>
                </h2>
                <div id="dataset_{{ dataset.id }}"
                     class="accordion-collapse collapse {% if loop.first %}show{% endif %}"
                     aria-labelledby="heading_{{ dataset.id }}"
                     data-bs-parent="#accordionDatasets">
                    <div class="accordion-body">
                        <div id="carousel_{{ dataset.id }}" class="carousel slide">
                            <div class="carousel-indicators">
                                {% for _ in dataset.cover_images %}
                                    <button type="button"
                                            data-bs-target="#carousel_{{ dataset.id }}"
                                            data-bs-slide-to="{{ loop.index0 }}"
                                            {% if loop.first %} class="active" aria-current="true"{% endif %}
                                            aria-label="Slide {{ loop.index }}"></button>
                                {% endfor %}
                            </div>
                            <div class="carousel-inner">
                                {% for cover_image in dataset.cover_images %}
                                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                                        {% set cover_img_src = local_resource_base_url ~ '/' ~ cover_image.reference if cover_image.reference_type == 'path' else cover_image.reference %}
                                        <div class="my-2" style="margin-left: 5%">
                                            {{ cover_image.title }}
                                        </div>
                                        {% if cover_image.resource_type == 'cover_clip' %}
                                            <div class="carousel-img-container p-3">
                                                <video src="{{ cover_img_src }}" controls
                                                       style="max-width: 100%"></video>
                                            </div>
                                        {% else %}
                                            <div class="carousel-img-container p-3">
                                                <img class="img-thumbnail" src="{{ cover_img_src }}"
                                                     style="max-width: 100% !important; object-fit: cover"/>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                            <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carousel_{{ dataset.id }}"
                                    data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                    data-bs-target="#carousel_{{ dataset.id }}"
                                    data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="m-2 d-flex justify-content-between">
                            <div>
                                <h6>Data Access:</h6>
                                {% for data_access_url in dataset.data_access_urls %}
                                    <a target="_blank"
                                       href="{{ data_access_url.reference }}">{{ data_access_url.title }}</a>
                                    <br>
                                {% endfor %}
                            </div>
                            {% if dataset.visualize %}
                                <div class="p-4">
                                    <a href="{{ visualisations_base_url }}?dataset_id={{ dataset.identifier }}"
                                       target="_blank"
                                       data-toggle="tooltip" title="Go to visualisations">
                                        Interactive Visualisations
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}
