{% macro nav_bar_items(
    current_user
) %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor04"
            aria-controls="navbarColor04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor04">
        <ul class="navbar-nav" style="margin-left: auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('catalog.index') }}">Home</a>
            </li>
            {{ login_nav_item( current_user ) }}
        </ul>
    </div>
{% endmacro %}

{% macro login_nav_item(
    current_user
) %}
    {% if current_user %}
        {% if current_user.is_authenticated %}
            <li class="nav-item border-light" style="border-left: 1px solid"><a href="{{ url_for('hydra.logout') }}"
                                                                                class="nav-link">
                Log out {{ current_user.email }}
            </a></li>
        {% else %}
            <li class="nav-item border-light" style="border-left: 1px solid"><a href="{{ url_for('hydra.login') }}"
                                                                                class="nav-link">
                Log in
            </a></li>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro render_products(
    products,
    thumbnail_base_url
) %}
    <div class="d-flex justify-content-between flex-wrap">
        {% for product in products %}
            {{ render_catalog_product(product, thumbnail_base_url) }}
        {% endfor %}
    </div>
{% endmacro %}

{% macro render_catalog_product(
    product,
    thumbnail_base_url
) %}
    <div class="w-25 p-3">
        {% if product.thumbnail %}
            {% set thumbnail_src = thumbnail_base_url ~ '/' ~ product.thumbnail.reference if product.thumbnail.reference_type == 'path' else product.thumbnail.reference %}
            <a href="{{ url_for('product.index', id=product.id) }}">
                <img class="img-thumbnail" src="{{ thumbnail_src }}"
                     style="height: 80%; object-fit: cover"/>
            </a>
        {% endif %}
        <div class="mt-2">
            <a href="{{ url_for('product.index', id=product.id) }}"><h4>{{ product.title }}</h4></a>
            <p>{{ product.description | truncate(100) }}</p>
        </div>
    </div>
{% endmacro %}

{% macro render_product(
    product,
    local_resource_base_url
) %}
    <h1 class="mx-3 mb-5">{{ product.title }}</h1>
    <div class="d-flex flex-row">
        <div class="px-3" style="width: 20%">
            {{ render_product_additional_info(product) }}
        </div>
        <div class="px-3" style="width: 45%">
            <h4>Overview</h4>
            <hr>
            <p>{{ product.description }}</p>

            <div id="map" class="my-5"></div>
        </div>
        <div class="px-3" style="width: 35%">
            {{ render_product_datasets(product.datasets, local_resource_base_url) }}
        </div>
    </div>
{% endmacro %}

{% macro render_product_additional_info(
    product
) %}
    {% set documents = product.resources | selectattr('resource_type', 'equalto', 'document') | list %}

    {% set any_details =
            ( product.horizontal_resolution or
            product.vertical_extent or
            product.vertical_resolution or
            product.temporal_extent or
            product.temporal_resolution or
            product.variables ) %}

    {% if any_details or documents or product.doi %}
        <div class="card mb-3" style="max-width: 20rem;">
            <div class="card-header">
                <h5>Info</h5>
            </div>
            <ul class="list-group list-group-flush">
                {% set documents = product.resources | selectattr('resource_type', 'equalto', 'document') | list %}
                {% if documents %}
                    <li class="list-group-item">
                        <h5>Resources</h5>
                        {% for document in documents %}
                            📄 <a href="{{ document.reference }}">{{ document.title }}</a><br>
                        {% endfor %}
                    </li>
                {% endif %}
                {% if any_details %}
                    <li class="list-group-item">
                        <h5>Details</h5>
                        {% if product.horizontal_resolution %}
                            <strong>Horizontal Resolution: </strong>
                            {{ product.horizontal_resolution }}<br>
                        {% endif %}
                        {% if product.vertical_extent %}
                            <strong>Vertical Extent: </strong>
                            {{ product.vertical_extent }}<br>
                        {% endif %}
                        {% if product.vertical_resolution %}
                            <strong>Vertical Resolution: </strong>
                            {{ product.vertical_resolution }}<br>
                        {% endif %}
                        {% if product.temporal_extent %}
                            <strong>Temporal Extent: </strong>
                            {{ product.temporal_extent }}<br>
                        {% endif %}
                        {% if product.temporal_resolution %}
                            <strong>Temporal Resolution: </strong>
                            {{ product.temporal_resolution }}<br>
                        {% endif %}
                        {% if product.variables %}
                            <strong>Variables: </strong>
                            {{ product.variables }}
                        {% endif %}
                    </li>
                {% endif %}
                {% if product.doi %}
                    <li class="list-group-item">
                        <h5>DOI</h5>
                        {{ product.doi }}
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endmacro %}

{% macro render_product_datasets(
    datasets,
    local_resource_base_url
) %}
    <div class="d-flex flex-column">
        {% for dataset in datasets %}
            <div class="p-2 mb-3">
                <div class="d-flex justify-content-between">
                    <h4>{{ dataset.title }}</h4>
                </div>
                {% if dataset.cover_image %}
                    {% set cover_img_src = local_resource_base_url ~ '/' ~ dataset.cover_image.reference if dataset.cover_image.reference_type == 'path' else dataset.cover_image.reference %}
                    <img class="img-thumbnail" src="{{ cover_img_src }}" style="height: 80%; object-fit: cover"/>
                {% endif %}
                <h6>Data Access:</h6>
                {% for data_access_url in dataset.data_access_urls %}
                    <a target="_blank" href="{{ data_access_url.reference }}">{{ data_access_url.title }}</a><br>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endmacro %}
