{% extends 'layout.html' %}
{% from 'lib.j2' import bootswatch_spacelab_css, jquery_js, leaflet_js, leaflet_css %}
{% from 'admin.j2' import nav_bar_items %}

{% block web_title %}
    SOMISANA
{% endblock %}

{% block favicon %}
    <link rel="icon" href="{{ url_for('static', filename='images/mims-icon-32x32.png') }}" sizes="32x32"/>
    <link rel="icon" href="{{ url_for('static', filename='images/mims-icon-192x192.png') }}" sizes="192x192"/>
{% endblock %}

{% block header %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-white shadow-sm sticky-top">
        <div class="container-fluid justify-content-center">
            <img src="{{ url_for('.static', filename='/images/saeon-logo.png') }}" height="80">
            <img src="{{ url_for('.static', filename='/images/somisana-logo.png') }}" height="80" class="px-2">
            {{ nav_bar_items( current_user ) }}
        </div>
    </nav>
{% endblock %}

{% block footer %}
    <footer class="text-white">
        <div style="background-color: #5986C6">
            <div class="d-flex flex-row-reverse py-4">
                <div class="d-flex justify-content-center" style="width: 400px">
                        SOMISANA: {{ config.SOMISANA_VERSION }}
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block styles %}
    {{ super() }}
    {{ bootswatch_spacelab_css() }}
    {{ leaflet_css() }}
    <style>
        :root {
            --bs-link-color: #3E8A93;
            --home-background-url: url( {{ url_for('.static', filename='images/maksym-zakharyak-0V39-QUxaic-unsplash.jpg') }} );
            --bs-border-radius: 0.2em;
        }
    </style>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ jquery_js() }}
    {{ leaflet_js() }}
    <script src="{{ url_for('static', filename='scripts/catalog.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/controls.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/leaflet-providers.js') }}"></script>
{% endblock %}
