{% extends 'admin.html' %}
{% from 'forms.j2' import render_form %}

{% block web_title %}
    SOMISANA - Products
{% endblock %}

{% block heading %}
    Product Edit
{% endblock %}

{% block content %}
    {% if product %}
        <a href="{{ url_for('resource.resources', entity_type=entity_type, entity_id=entity_id) }}">Resources</a>
    {% endif %}
    {{ render_form(form, product, [
        'horizontal_extent',
        'horizontal_resolution',
        'vertical_extent',
        'vertical_resolution',
        'temporal_extent',
        'temporal_resolution',
        'variables'
    ]) }}
{% endblock %}

