{% extends 'admin.html' %}
{% from 'admin.j2' import data_table %}
{% from 'content.j2' import render_info, render_buttons %}

{% block web_title %}
    SOMISANA - Product Detail
{% endblock %}

{% block heading %}
    Product Detail
{% endblock %}

{% block content %}
    {% call(prop) render_info(product, 'Tite', 'Description', 'DOI', 'North Bound', 'South Bound', 'East Bound',
                            'West Bound', 'Simulations', 'Resources') %}
        {% if prop == 'Tite' %}
            {{ product.title }}
        {% elif prop == 'Description' %}
            {{ product.description }}
        {% elif prop == 'DOI' %}
            {{ product.doi }}
        {% elif prop == 'North Bound' %}
            {{ product.north_bound }}
        {% elif prop == 'South Bound' %}
            {{ product.south_bound }}
        {% elif prop == 'East Bound' %}
            {{ product.east_bound }}
        {% elif prop == 'West Bound' %}
            {{ product.west_bound }}
        {% elif prop == 'Simulations' %}
            {{ product.simulations | sort(attribute='title') | map(attribute='title') | join('<br/>') | safe }}
        {% elif prop == 'Resources' %}
            <a href="{{ url_for('resource.resources', entity_type=entity_type, entity_id=product.id) }}">
                View/Add Resources
            </a>
        {% endif %}
    {% endcall %}
    {{ render_buttons(buttons) }}
{% endblock %}

