{% extends 'admin.html' %}
{% from 'admin.j2' import data_table %}
{% from 'content.j2' import render_info, render_buttons %}

{% block web_title %}
    SOMISANA - Product Detail
{% endblock %}

{% block heading %}
    Product Detail
{% endblock %}

{% block content %}
    {% call(prop) render_info(
        product, 'Tite', 'Description', 'DOI', 'North Bound', 'South Bound',
        'East Bound', 'West Bound', 'Horizontal Resolution',
        'Vertical Extent', 'Vertical Resolution', 'Temporal Extent', 'Temporal Resolution',
        'Variables', 'Supersedes', 'Superseded By', 'Datasets', 'Resources'
        ) %}
        {% if prop == 'Tite' %}
            {{ product.title }}
        {% elif prop == 'Description' %}
            {{ product.description | safe }}
        {% elif prop == 'DOI' %}
            {{ product.doi }}
        {% elif prop == 'North Bound' %}
            {{ product.north_bound }}
        {% elif prop == 'South Bound' %}
            {{ product.south_bound }}
        {% elif prop == 'East Bound' %}
            {{ product.east_bound }}
        {% elif prop == 'West Bound' %}
            {{ product.west_bound }}
        {% elif prop == 'Horizontal Resolution' %}
            {{ product.horizontal_resolution }}
        {% elif prop == 'Vertical Extent' %}
            {{ product.vertical_extent }}
        {% elif prop == 'Vertical Resolution' %}
            {{ product.vertical_resolution }}
        {% elif prop == 'Temporal Extent' %}
            {{ product.temporal_extent }}
        {% elif prop == 'Temporal Resolution' %}
            {{ product.temporal_resolution }}
        {% elif prop == 'Variables' %}
            {{ product.variables }}
        {% elif prop == 'Supersedes' %}
            {% if product.superseded_product_id %}
                <a href="{{ url_for('.detail', id=product.superseded_product_id) }}">
                    {{ product.superseded_product_id }}
                </a>
            {% endif %}
        {% elif prop == 'Superseded By' %}
            {% if product.superseded_by_product_id %}
                <a href="{{ url_for('.detail', id=product.superseded_by_product_id) }}">
                    {{ product.superseded_by_product_id }}
                </a>
            {% endif %}
        {% elif prop == 'Datasets' %}
            <a href="{{ url_for('dataset.product_datasets', product_id=product.id) }}">
                View/Add Datasets
            </a>
        {% elif prop == 'Resources' %}
            <a href="{{ url_for('resource.resources', entity_type=entity_type, entity_id=product.id) }}">
                View/Add Resources
            </a>
        {% endif %}
    {% endcall %}
    {{ render_buttons(buttons) }}
{% endblock %}

