{% extends 'admin.html' %}
{% from 'admin.j2' import data_table %}
{% from 'content.j2' import render_buttons %}

{% block web_title %}
    SOMISANA - Product Resources
{% endblock %}

{% block heading %}
    Resources for: <small class="text-body-secondary">{{ entity_title }}</small>
{% endblock %}

{% block content %}
    {{ data_table(
        resources,
        {'id': 'ID', 'reference': 'Reference', 'reference_type': 'Reference Type', 'resource_type': 'Resource Type'},
        url_key='id',
        url_param='id',
        url='.detail'
    ) }}
    {% if entity_id %}
        {{ render_buttons(buttons) }}
    {% endif %}
{% endblock %}

