{% extends 'admin.html' %}
{% from 'admin.j2' import data_table, render_button %}
{% from 'content.j2' import render_info, render_buttons %}

{% block web_title %}
    SOMISANA - Resource Detail
{% endblock %}

{% block heading %}
    Resource Detail
{% endblock %}

{% block content %}
    {% call(prop) render_info(resource, 'Title', 'URL', 'Resource Type', 'Reference Type') %}
        {% if prop == 'Title' %}
            {{ resource.title }}
        {% elif prop == 'URL' %}
            {{ resource.reference }}
        {% elif prop == 'Resource Type' %}
            {{ resource.resource_type }}
        {% elif prop == 'Reference Type' %}
            {{ resource.reference_type }}
        {% endif %}
    {% endcall %}
    {{ render_buttons(buttons) }}
{% endblock %}

