{% extends 'admin.html' %}
{% from 'forms.j2' import render_form %}

{% block web_title %}
    SOMISANA - {{ entity_type | title }} Resource
{% endblock %}

{% block heading %}
    {{ entity_type | title }} Resource
{% endblock %}

{% block content %}
    {% set submit_target = url_for('.edit', id=resource.id) if resource else url_for('.create', entity_type=entity_type, entity_id=entity_id) %}

    {% set cancel_target = url_for('.detail', id=resource.id) if resource else url_for('.resources', entity_type=entity_type, entity_id=entity_id) %}

    {% if resource %}
        <div class="alert alert-dismissible alert-info">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>Note!</strong> A resource cannot be changed from a file to a link or vice versa. In order to make
            the change you will need to delete the resource and create a new one.
        </div>
    {% endif %}

    {{ render_form(
        form,
        obj=resource,
        file_upload=true,
        submit_target=submit_target,
        cancel_target=cancel_target
    ) }}
{% endblock %}

