{% extends 'admin.html' %}
{% from 'forms.j2' import render_form %}

{% block web_title %}
    SOMISANA - {{ entity_type | title }} Resource
{% endblock %}

{% block heading %}
    {{ entity_type | title }} Resource
{% endblock %}

{% block content %}
    {% set submit_target = url_for('.edit', id=resource.id) if resource else url_for('.create', entity_type=entity_type, entity_id=entity_id) %}

    {% set cancel_target = url_for('.detail', id=resource.id) if resource else url_for('.resources', entity_type=entity_type, entity_id=entity_id) %}

    {{ render_form(
        form,
        obj=resource,
        file_upload=true,
        submit_target=submit_target,
        cancel_target=cancel_target
    ) }}
{% endblock %}

