{% extends 'admin.html' %}
{% from 'admin.j2' import data_table %}
{% from 'content.j2' import render_buttons %}

{% block web_title %}
    SOMISANA - Simulations
{% endblock %}

{% block heading %}
    Simulations
{% endblock %}

{% block content %}
    {{ data_table(
        all_simulations,
        {'id': 'ID',
        'title': 'Title',
        'folder_path': 'Folder Path',
        'data_access_url': 'Data Access URL'},
        url_key='id',
        url_param='id',
        url='.detail'
    ) }}
    {{ render_buttons(buttons) }}
{% endblock %}

