{% extends 'admin.html' %}
{% from 'admin.j2' import data_table %}
{% from 'content.j2' import render_info, render_buttons %}

{% block web_title %}
    SOMISANA - Simulation Detail
{% endblock %}

{% block heading %}
    Simulation Detail
{% endblock %}

{% block content %}
    {% call(prop) render_info(simulation, 'Tite', 'Folder Path', 'Data Access URL') %}
        {% if prop == 'Tite' %}
            {{ simulation.title }}
        {% elif prop == 'Folder Path' %}
            {{ simulation.folder_path }}
        {% elif prop == 'Data Access URL' %}
            {{ simulation.data_access_url }}
        {% endif %}
    {% endcall %}
    {{ render_buttons(buttons) }}
{% endblock %}

